<!DOCTYPE html>
<html>
<head>
  <title>Consulta por Token</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Consulta por Token</h1>
    </header>
  <div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="message">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}

    <form method="post">
      <input name="token" placeholder="Ingresa el token" required>
      <button type="submit">Consultar</button>
    </form>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
  </div>
  <footer>
  &copy; 2025 App VIH. Todos los derechos reservados. 
  </footer>

</body>
</html>

