<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido al WebSite de VIH en Colombia</h1>
    </header>
  <div class="container">
    <p>
      <a href="{{ url_for('login') }}">Iniciar sesión</a> |
      <a href="{{ url_for('register') }}">Registrarse</a>
    </p>

    <h3>¿Tienes un token para consultar el estado VIH de alguien?</h3>
    <form method="post" action="{{ url_for('consultar_token') }}">
      <input name="token" placeholder="Ingresa el token" required>
      <button type="submit">Consultar</button>
    </form>
  </div>
  <footer>
  &copy; 2025 App VIH. Todos los derechos reservados. 
  </footer>
</body>
</html>

